<nav th:fragment="nav_bar" class="navbar navbar-light bg-info justify-content-between">
  <a class="navbar-brand mx-5" th:href="@{/inicio}">Navbar</a>
  <div class="d-flex ">
    <form class="form-inline d-flex mx-3" th:action="@{/busqueda}">
      <input class="form-control mr-sm-2" type="search" placeholder="Puesto, empresa" aria-label="Search">
      <button class="btn btn btn-outline-dark mx-2 my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="mx-2 p-2" th:href="@{/aspirante/cuenta}">Mi perfil</a>
  </div>
</nav>