<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/inicio-styles.css">
    <link rel="stylesheet" type="text/css" th:href="@{/anuncio-style.css}">
    <title>Mi cuenta</title>
</head>
<body>
    <nav th:replace="Components/navbar.html :: nav_bar"></nav>

    <h1>
        BIENVENIDOS A MI CUENTA
    </h1>
    <div class="container bootstrap snippets bootdey my-2">

        <h1>Información personal</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
                </div>
            </div>

            <div class="col-md-9 personal-info">

                <div  th:object="${aspirante}">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nombre/s</label>
                        <div class="col-lg-8">
                            <p class="form-control" th:text="*{nombre}"> </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Apellido</label>
                        <div class="col-lg-8">
                            <p class="form-control" th:text="*{apellido}"> </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">DNI</label>
                        <div class="col-lg-8">
                            <p class="form-control" th:text="*{dni}"> </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Edad</label>
                        <div class="col-lg-8">
                            <p class="form-control" th:text="*{edad}"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 >
        <a th:href="@{/candidate/edit}">Editar...</a>
    </h2>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>
</body>
</html>